*{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    background: #0f4c5c;
    color: white;
}
.input{
    text-align: center;
    background-color: #9a031e;
    cursor: pointer;
}
.input:hover{
    background-color: #f7b924;
}
