body {
  margin: 0;
  padding: 0;
  background: #ffff;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
}

p {
  font-size: 18px;
}

.primary-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: auto;
  width: auto;
  max-width: 1440px;
  max-height: fit-content;
  margin: 0 auto;
  text-align: center;
}

.box1 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 90px;
  height: 90px;
  background: #49b6ff80;
  opacity: 35%;
  margin: auto auto 0 auto;
}

.box2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin: 0 auto;
  line-height: 20px;
}

.box3 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 0 auto;
  line-height: 20px;
}

.box4 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  margin: 0 auto;
  line-height: 20px;
}
.box5 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  width: 100px;
  height: 100px;
  margin: 0 auto 0 auto;
  background: #49b6ff80;
  opacity: 35%;
}

.content-rectangle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.small-rect {
  background: #49b6ff80;
  height: 26px;
  width: 26px;
  opacity: 35%;
}

.xsmall-rect {
  background: #49b6ff80;
  height: 16px;
  width: 16px;
  opacity: 35%;
}

.logoimg {
  position: static;
  width: 64px;
  height: 64px;
  left: 148.67px;
  top: 0px;
}
