body {
  margin: 0;
  padding: 0;
  background: #ffff;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
}

p {
  font-size: 18px;
}

.primary-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: solid 2px white;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  align-items: stretch;
  border: solid 1px red;
}

.box1 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 90px;
  height: 90px;
  margin: auto;
  background: #0b486b;
  opacity: 35%;
  top: 0%;
}
.box2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin: 0 auto;
  border: solid 1px black;
  line-height: 20px;
  /* background-color: tomato; */
}

.box3 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 0 auto;
  border: solid 1px black;
  line-height: 20px;
  /* background-color: tomato; */
}

.box4 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  margin: 0 auto;
  border: solid 1px black;
  line-height: 20px;
  /* background-color: tomato; */
}
.box5 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  /* background-color: tomato; */
  width: 100px;
  height: 100px;
  margin: auto;
  background: #0b486b;
  opacity: 35%;
}
