html {
  font-family: sans-serif;
}

body {
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
  background: #219ebc;
}



.lastResult {
  color: white;
  padding: 3px;
}

.gametitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: auto;
    border-radius: 5px;
    border: #023047 solid 1px;
    background-color: #fb8500;
    color: #023047
}

.form1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: auto;
    border-radius: 5px;
    border: #023047 solid 1px;
    background-color: #fb8500;
    color: #023047;
    padding: 5px;
}

.form2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: auto;
    border-radius: 5px;
    border: #023047 solid 1px;
    background-color: #ffb703;
    color: #023047;
    padding: 5px;
}

.form3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: auto;
    border-radius: 5px;
    border: #023047 solid 1px;
    background-color: #ffb703;
    color: #023047;
    padding: 5px;
}

.opis{
    color: white;
    text-align: justify;
}